
<ion-view>
  <ion-nav-title>
      <div class="logoIcon">Inicio</div>
  </ion-nav-title>

  <ion-content>
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h2>Sigla Mobile</h2>
          <p>Selecciona uno de los servicios</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="#/app/otcs" class="button button-block icon-right ion-chevron-right button-assertive">Averías</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="#/app/otps" class="button button-block icon-right ion-chevron-right button-calm">Partes Preventivos</a>
      </div>
    </div>
  </ion-content>
</ion-view>
