<ion-view cache-view="false" view-title="Aver&iacute;as">
  <ion-nav-title>
        <div class="logoIcon">Aver&iacute;as</div>
  </ion-nav-title>
  <ion-nav-bar class="bar-assertive">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-refresher
      pulling-text="Deslice hacia abajo para actualizar..."
      on-refresh="getList()">
    </ion-refresher>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Buscar" ng-model="buscar" ng-change="buscarOT(this)">
      </label>
    </div>
    <div ng-show="!otc_list.length" class="row">
      <div class="col">
        <div class="text-center">
          <h4>Sin resultados</h4>
        </div>
      </div>
    </div>
    <ion-list ng-show="otc_list.length" id="otclist">
      <ion-item ng-repeat="otc in otc_list" href="#/app/otc_list/{{otc.id}}">
        <otc-list-widget></otc-list-widget>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
        icon="ion-loading-c"
        on-infinite="getMore()"
        distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
