

<ion-popover-view>
  <ion-header-bar>
    <h1 class="title">Ultimas OTCs</h1>
    <div class="buttons">
      <button class="button" ng-click="closePopoverOTs($event)">X</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <!-- <ion-item ng-repeat="otc in otc_list" href="#/app/otc_list/{{otc.id}}"> -->

      <div class="item item-divider">
        #12321 Fecha: 10/12/2002
      </div>
      <a class="item  item-text-wrap">
        <p>Limpieza y lubricacion. Se lubrico ademas la cadena principal</p>
      </a>
      <div class="item item-divider">
        #12321 Fecha: 10/12/2002
      </div>
      <a class="item  item-text-wrap">
        <p>Limpieza y lubricacion. Se lubrico ademas la cadena principal</p>
      </a>
      <div class="item item-divider">
        #12321 Fecha: 10/12/2002
      </div>
      <a class="item  item-text-wrap">
        <p>Limpieza y lubricacion. Se lubrico ademas la cadena principal</p>
      </a>
      <div class="item item-divider">
        #12321 Fecha: 10/12/2002
      </div>
      <a class="item  item-text-wrap">
        <p>Limpieza y lubricacion. Se lubrico ademas la cadena principal</p>
      </a>
      <!-- </ion-item> -->
    </ion-list>
  </ion-content>
</ion-popover-view>
